<!DOCTYPE html>
  <html>
    <head>
      <link rel="shortcut icon" href=""> <!--Pongo esto para solucionar el error de 'favicon failed to load'-->
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

      
      <!--
      <div class="container">
        <div class="row">
          <form class="col s12">
            
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input ng-model="newFeedbackResult.name" placeholder="First Name" id="firstName" type="text" class="validate" required></input>
              </div>
              <div class="input-field col s6">
                <input placeholder="Last Name" id="lastName" type="text" ></input>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s3">
                <i class="material-icons prefix">group_work</i>
                <input placeholder="Group" id="group" type="text" ></input>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s1">
                <label>Shift</label>
              </div>
              <div class="input-field col s11"> 
                <input class="with-gap" name="group1" type="radio" id="morning" />
                <label for="morning">Morning</label>
                <input name="group1" type="radio" id="afternoon" />
                <label for="afternoon">Afternoon</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col 12">
                <input type="checkbox" id="optionalFeedback" />
                <label for="optionalFeedback">Optional feedback</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col 12">
                <button ng-click="addFeedbackResult">Add</button>
              </div>
            </div>


          </form>
        </div>
      </div>
      -->
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>
  </html>
        